{% extends "base.html" %}
{% block content %}
<div class="container row">
  {% for p in partidas %}
  <div class="col-sm-4 mt-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Jugador: {{ p.jugador }}</div>
      <div class="card-body ml-4">
        <h6 class="card-subtitle mb-2">Fecha: {{ p.add_date }}</h6>
        <h6 class="card-subtitle mb-2">Estado: {% if p.ganador == '' %}
                                                            {{ "En cuso "}}
                                                          {% else %}
                                                              {{ "Finalizada" }}
                                                          {% endif %}</h6>
        <a href="#" class="btn btn-outline-light mt-4">Detalle</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
