{% extends "base.html" %}
{% block content%}
<div class="container mt-4">
  <h5><b>Nombre del jugador:</b> {{ partida.jugador }}</h5>
  <h5><b>Fecha de partida:</b> {{ partida.add_date }}</h5>
  <h5><b>Forma seleccionada:</b> {{ partida.forma }}</h5>
  <table class="table table-striped table-dark table-bordered mt-4">
  <tbody>
    <tr>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/0">{{ tablero[0] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/1">{{ tablero[1] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/2">{{ tablero[2] }}</td>
    </tr>
    <tr>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/3">{{ tablero[3] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/4">{{ tablero[4] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/5">{{ tablero[5] }}</td>
    </tr>
    <tr>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/6">{{ tablero[6] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/7">{{ tablero[7] }}</td>
      <td class="text-center"><a class="btn btn-secondary btn-block" href="/partida/{{ partida._id }}/jugar/8">{{ tablero[8] }}</td>
    </tr>
  </tbody>
</table>
  {% if partida.ganador != '' %}
    <h5 class="bg-success"><b>Ganador de la partida:</b> {{ partida.ganador }}</h5>
  {% endif %}
  <div class="container text-center mt-4">
    <a class="btn btn-outline-secondary" href="/partidas">Ver todas las partidas</a>
  </div>
</div>
{% endblock %}
