{% extends "base.html" %}
{% block content%}
<div class="container">
  <h3>Id de partida: {{ partida._id }}</h3>
  <h3>Nombre del jugador: {{ partida.jugador }}</h3>
  <h4>Fecha de partida: {{ partida.add_date }}</h4>

  <table class="table table-striped table-dark table-bordered">
  <tbody>
    <tr>
      <td><button type="submit" class="btn btn-secondary btn-lg" action="/partida/{{ partida.id }}/jugar/0">{{ tablero[0] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/1">{{ tablero[1] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/2">{{ tablero[2] }}</button></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/3">{{ tablero[3] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/4">{{ tablero[4] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/5">{{ tablero[5] }}</button></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/6">{{ tablero[5] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/7">{{ tablero[6] }}</button></td>
      <td><button type="button" class="btn btn-secondary btn-lg" action="/partida/{{ partida._id }}/jugar/8">{{ tablero[8] }}</button></td>
    </tr>
  </tbody>
</table>
  {% if partida.ganador != '' %}
    <b>Ganador: {{ partida.ganador }}</b>
  {% endif %}
</div>
{% endblock %}
